Webpack (imports/exports)
    Babel
    Scss
    Eslint
    2 modes
        - dev
            dev server, sourceMaps, Eslint, not Minified JS & CSS
        - prod
            Minified Code

Git

    Production
        1.0.0
        0---------
    Development
        1.0.2
        1-------------
        2-------------